# Python bytecode
__pycache__
*.pyc

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml



# Compressed files / Archives
*.rar
*.zip

# SQLite temporary files
*.db-journal
*.db-wal
*.db-shm

# DB Browser for SQLite project files
*.sqbpro

# OS-specific files
.DS_Store
Thumbs.db